<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add</title>
    </head>
    <body>
        <h1>Inserisci un nuovo record al database</h1>
        <br><br>
        <form method="post" action="/add">
            <!--
            <label for="data_line">Inserisci qui:</label>
            <input type="text" id="data_line" name="data_line" placeholder="Inserisci..." size="60" required>
            <button type="submit">Aggiungi</button>
            -->
            <p>Inserisci qua i nuovi dati (* campi obbligatori):</p>
            <br><br>
            <label for="title">Titolo:*</label>
            <input type="text" id="title" name="title" placeholder="Titolo..." size="60" required>
            <br><br>
            <label for="director">Regista:*</label>
            <input type="text" id="director" name="director" placeholder="Regista..." size="60" required>
            <br><br>
            <label for="age">Et&agrave; del regista:*</label>
            <input type="number" id="age" name="age" size="30" min="18" max="200" placeholder="Età..." required>
            <br><br>
            <label for="year">Anno del film:*</label>
            <input type="number" id="year" name="year" size="30" min="1000" max="9999" placeholder="Anno..." required>
            <br><br>
            <label for="genre">Genere del film:*</label>
            <input type="text" id="genre" name="genre" placeholder="Genere..." size="60" required>
            <br><br>
            <label for="platform1">Piattaforma streaming 1:</label>
            <input type="text" id="platform1" name="platform1" placeholder="Piattaforma..." size="60">
            <br><br>
            <label for="platform2">Piattaforma streaming 2:</label>
            <input type="text" id="platform2" name="platform2" placeholder="Piattaforma..." size="60">
            <br><br>
            <button type="submit">Aggiungi</button>
        </form>
        <br><br>
        {% if error %}
            <div style="color: red; font-weight: bold; margin: 1em 0;">
                {{ error }}
            </div>
        {% endif %}
        <br><br>
        <a href="/">Torna alla pagina principale</a>
    </body>
</html>