<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SQL_Search</title>
    </head>
    <body>
        <h1>Ricerca SQL</h1>

        <form method="post" action="/sql_search">
            <label for="sql_query">Inserisci la tua query SQL:</label>
            <input type="text" id="sql_query" name="sql_query" size="80" placeholder="Inserisci query in SQL" required>
            <input type="hidden" name="model" value="gemma3:1b-it-qat">
            <button type="submit">Invia</button>
        </form>

        {% if results %}
            <h2>Risultati della ricerca</h2>
            <ul>
                {% for item in results %}
                    <li>
                        <strong>{{ item.item_type }}</strong>:
                        <ul>
                            {% for prop in item.properties %}
                                <li>{{ prop.property_name }}: {{ prop.property_value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% if not isfirst_time %}
                <p>Nessun risultato trovato.</p>
            {% endif %}
            {% if error %}
                <p>Errore: {{ error }}</p>
            {% endif %}
        {% endif %}

        {% if sql_validation == "valid" %}
            <p style="color: green;">La query SQL è valida.</p>
        {% elif sql_validation == "unsafe" %}
            <p style="color: rgba(255, 51, 0, 0.949);">La query SQL è potenzialmente pericolosa.</p>
        {% elif sql_validation == "invalid" %}
            <p style="color: red;">La query SQL non è valida.</p>
        {% endif %}

        <a href="/">Torna alla pagina principale</a>
    </body>
</html>